/* variables */
:root {
  --primary-c-grey: rgb(211, 211, 211);
  --primary-c-blue: rgb(0, 70, 117);
  --primary-c-pink: rgb(255, 240, 251);
  --btn-c-red: rgb(255, 67, 67);
  --btn-c-green: rgb(22, 145, 18);
  --btn-c-blue: var(--primary-c-blue);
  font-family: Arial, Helvetica, sans-serif;
}

/* CSS reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

button {
  appearance: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

.banner {
  z-index: -1;
  position: absolute;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
}

.banner--header {
  top: 0;
  background-image: url(/public/wave-up.svg);
}

.banner--footer {
  bottom: 0;
  background-image: url(/public/wave-down.svg);
}
